/* Mobile Version */

.bodynav {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #000000;
  backdrop-filter: blur(10px);
  width: 100%;
}

.op {
  font-family: 'Readex Pro', sans-serif;
}
.hr {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.op:hover .block {
  transform: rotateZ(45deg);
  transition: 0.6s;
}
.lokasi {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
}
.ou {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(92.82deg, #323bff 47.65%, #1018da 89.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fs:hover {
  color: #1018da;
  transition: 0.3s;
}

.pp {
  width: 80%;
  font-family: 'Plus Jakarta Sans';
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-top: 20px;
}

.tombol {
  border: none;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-weight: 300;
  background-color: transparent;
}

.pj1 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 390px;
  background: #0da5e9;
  border-radius: 10px;
  overflow: hidden;
}

.sc3 {
  width: 150px;
  margin-top: 90px;
}

.sc2 {
  width: 150px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 20px;
  position: relative;
}

.sc1 {
  width: 150px;
  margin-left: 30px;
  margin-top: 100px;
}

.pjs1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
}

.ds1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 300;
  font-size: 16px;
  border: none;
  color: #000000;
}

.pj2 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 390px;
  background: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.lp1 {
  margin-left: 30px;
  margin-top: 180px;
  height: 150px;
}

.lp2 {
  margin-top: 195px;
  height: 180px;
}

#project {
  margin-top: -100px;
}

.pjd {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 500;
}

.fx {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
}

.gp2 {
  text-align: center;
}

.ar {
  margin-top: -20px;
  opacity: 0%;
}

.gap-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.cp {
  margin-top: 120px;
  margin-bottom: 40px;
  width: 100%;
}

.wr1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 6px;
  height: 44px;

  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.wrp1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 118px;
  height: 44px;
}

.nv {
  position: static;
  display: flex;
  flex-direction: row;
}

.garis2 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 0.5px solid #000000;
}
.garis {
  width: 100%;
  border: 0.5px solid #000000;
}
.wr1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 6px;
  height: 44px;

  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.wrp1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 118px;
  height: 44px;
}

.bt {
  animation: animasibintang 1.5s infinite alternate;
  margin-top: -800px;
  margin-left: 220px;
  width: 40%;
}

.tombol {
  border: none;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
}

@keyframes animasibintang {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animasigaris {
  0% {
    width: 200px;
  }

  100% {
    width: 1300px;
  }
}

.pj1:hover .sc1 {
  margin-top: 0px;
  transition: 1s;
}
.pj1:hover .sc2 {
  margin-top: 120px;
  transition: 1s;
}
.pj1:hover .sc3 {
  margin-top: 10px;
  transition: 1s;
}
.pj1:hover {
  background: radial-gradient(50% 250.12% at 50% 50%, #0da5e9 0%, #2686f5 100%);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 3s;
}

.pj2:hover {
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
  background-color: rgba(255, 255, 255, 1);
  transition: 1s;
}

/*  DEKSTOP Version */

@media (min-width: 992px) {
  body {
    cursor: none;
  }

  .garis2 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #000000;
  }

  .disabled {
    position: absolute;
  }
  .lp1 {
    margin-left: 30px;
    margin-top: 100px;
    height: 250px;
  }

  .lp2 {
    margin-top: 135px;
    height: 280px;
  }
  .garis {
    width: 100%;
    border: 1px solid #000000;
  }
  .bt {
    animation: animasibintang 1.5s infinite alternate;
    margin-top: -800px;
    margin-left: 1000px;
    width: 185px;
  }
  .bj {
    animation: animasibintang 2.5s infinite alternate;
    margin-top: -200px;
    margin-left: 100px;
    width: 115px;
  }
  .bodynav {
    height: 90px;
  }
  .navq {
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    border-bottom: none;
    color: black;
    font-weight: 400;
  }

  .wr1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 6px;
    height: 44px;

    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }

  .wrp1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 118px;
    height: 44px;
  }

  .wr1:hover {
    width: 78px;
    height: 44px;
    border-bottom: 1px solid #444bfd;
    transition: 0.4s;
  }
  .navq:hover {
    color: #1920c7;
    transition: o.4s;
  }

  .hr {
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
  }

  .lokasi {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
  }
  .ou {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(92.82deg, #323bff 47.65%, #1018da 89.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .pp {
    width: 520px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    margin-top: 20px;
  }

  .tombol {
    border: none;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 300;
    background-color: transparent;
  }

  .ar {
    margin-top: -20px;
    opacity: 0%;
  }

  .gr :hover {
    width: 70px;
    transition: 0.3s;
  }

  .pj1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 950px;
    height: 390px;

    background: #0da5e9;
    border-radius: 10px;
    overflow: hidden;
  }

  .sc3 {
    width: 230px;
    margin-right: 30px;
    margin-top: 90px;
  }

  .sc2 {
    width: 230px;
    margin-left: 17px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
  }

  .sc1 {
    width: 230px;
    margin-left: 115px;
    margin-top: 100px;
  }

  .ds1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 20px;
    text-align: start;
  }

  .pjs1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 20px;
    margin-top: 180px;
    text-align: start;
  }

  .fx {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 1px;
  }

  .pj2 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 950px;
    height: 390px;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }

  .gap-4 {
    margin-left: 450px;
    margin-top: 20px;
  }

  .cp {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .title {
    margin-top: 100px;
    text-align: start;
    font-weight: 600;
    font-size: 32px;
  }

  .pj1 {
    margin-bottom: 100px;
  }

  .pj2 {
    margin-bottom: 100px;
  }

  .pjd {
    margin-top: 100px;
    text-align: start;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 500;
  }

  .nv {
    position: absolute;
    top: 50%;
    margin-right: 120px;
    transform: translateY(-50%) !important;
  }
}

/* EXPLORE CSS MOBILE */

h1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
}

p {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-size: 20px;
}

h2 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 500;
  font-size: 28 px;
}

.bttn {
  flex-direction: column;
  width: 280px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.btnsos {
  width: 220px;
  height: 40px;

  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 300px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.btnsos:hover {
  box-shadow: 2px 4px 1px #000000;
  transition: 0.6s;
}
.sd1 {
  width: 50%;
  height: 150px;
  background-image: url(img/sd1.png);
  background-size: cover;
}
.sd2 {
  width: 50%;
  height: 150px;
  background-image: url(img/sd2.png);
  background-size: cover;
}
.sd3 {
  width: 30%;
  height: 150px;
  background-image: url(img/sd3.png);
  background-size: cover;
}
.sd4 {
  width: 30%;
  height: 150px;
  background-image: url(img/sd4.png);
  background-size: cover;
}
.sd5 {
  width: 40%;
  height: 150px;
  background-image: url(img/sd5.png);
  background-size: cover;
}
.sd6 {
  width: 50%;
  height: 150px;
  background-image: url(img/sd6.png);
  background-size: cover;
}
.sd7 {
  width: 50%;
  height: 150px;
  background-image: url(img/sd7.png);
  background-size: cover;
}

.sdf {
  position: relative;
}

.sdf > * {
  z-index: 10;
  position: relative;
}

.sdf:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* EXPLORE DEKSTOP VER */
@media (min-width: 992px) {
  p {
    width: 570px;
  }

  .sdf {
    height: 350px;
  }

  .col-lg-4 {
    width: 440px;
    height: 350px;
  }

  .bttn {
    flex-direction: row;
    width: 800px;
  }

  .btnsos {
    width: 280px;
    height: 50px;

    background: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 300px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }
}

/* Study Case 1 Mobile */

.desc1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 20px;

  color: #000000;
}

.desc2 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 16px;
}
.desc3 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 12px;
}

.garis2 {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid #000000;
}
.st {
  width: 100%;
  height: auto;
}

.sa {
  width: 100%;
  height: auto;
}
.su {
  width: 100%;
  height: auto;
}

.sg1 {
  width: 30%;
  height: 400px;
  background-color: gray;
  background-image: url(Study2/sw5.svg);
  background-size: cover;
}
.sg2 {
  width: 40%;
  height: 400px;
  background-color: gray;
  background-image: url(Study2/sw6.svg);
  background-size: cover;
}
.sg3 {
  width: 30%;
  height: 400px;
  background-color: gray;
  background-image: url(Study2/sw7.svg);
  background-size: cover;
}

.text-decoration-underline:hover {
  color: #1018da;
}

/* Study1 DESKTOP Version */
@media (min-width: 992px) {
  .desc1 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 32px;
  }

  .desc2 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 24px;
  }
  .desc3 {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 20px;
  }

  .sa {
    width: 60%;
    height: auto;
  }
  .su {
    width: 40%;
    height: auto;
  }

  .sg1 {
    width: 30%;
    height: 1200px;
    background-color: gray;
    background-image: url(Study2/sw5.svg);
    background-size: cover;
  }
  .sg2 {
    width: 40%;
    height: 1200px;
    background-color: gray;
    background-image: url(Study2/sw6.svg);
    background-size: cover;
  }
  .sg3 {
    width: 30%;
    height: 1200px;
    background-color: gray;
    background-image: url(Study2/sw7.svg);
    background-size: cover;
  }
}
